*{
    margin: 0px;
    padding:0px;
    

}



nav{
    background-color :black;
    color:white;
    padding: 25px;
    margin-top: 10px;
    text-align: top;
    
}

h1,ul,li{
    display: inline;

}

ul{
    margin-left: 52%;
}

li{
    color: gray;
    
}

li:hover{
 color: white;
 cursor: pointer;

}
 input{
    width: 60%;
    padding: 20px;
    margin: 30px;
 
 }

 .Searchbar{
    text-align: center;
 }
 
 .no1{
    border-color: black;
    border-width:3px ;
   border-style: solid;
   display: inline-block;
   border-radius: 5px;
   text-align: center;
   margin-left: 4.4%;
   cursor: pointer;

 }

 .new{
     border-color: black;
    border-width:3px ;
   border-style: solid;
   display: inline-block;
   cursor: pointer;
   margin-top: 60px;
   border-radius: 5px;
   margin-left: 8%;
   margin-right: 20px;
   text-align: center;



   }


  .about{
  
    text-align: center;
    margin-top: 20px;
    padding: 10px;
  }
 
  .gap{
    padding: 10px;
    font-style:normal;

  }
   .contact{
    background-color: black;
    height: 300px;
    width: 100%;
    margin-bottom: 100px;
    display: inline-block

   }

   

   .last{
    color: white;
    text-align: center;
   }

   .mail{
    color: white;
    text-align: center;
    margin-top: 10px;
   }
 
   .thanks{
    color: white;
    text-align: center;
    margin-top: 30px;
   }

   .bro6{
    border-radius: 10px;
    border-color: green;
    border-width: 2px;
    border-style: solid;
    display:inline-block;
    margin-top: 2.5%;
    background-color:gray;
    color: black;
    
   }

   .bro7{
    color:black;
    background-color:white;
   }

   .no1:hover{
    color:black ;
   }

   .no1:hover img,
.new:hover img {
  animation: blink 0.6s ;
  
}

.no1 img,
.new img {
  width: 100%;
  transition: transform 0.1s;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  70% {
    opacity: 1;
  }
}


